.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px 0 rgba(36,83,107,.15);
}

.heading {
  font-size: 18px;
  text-transform: uppercase;
}